/**styles in css file**/

h1 {
    color:white;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a.Recipes  {
    color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;}
#box {
    background-color: orangered;
    text-align: center;
    margin-bottom: 50px;
}
#text-box {
    text-align: center;
}